.header {
  background-color: #1d1f24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.app {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.dark-modal {
  color: white;
}

.dark-modal .modal-content {
  background-color: #212529;
}

.text-muted {
  color:#bbbbbb;
}