.header {
  background-color: #1d1f24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.app {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}


/** Modal **/
.dark-modal {
  color: white;
}

.dark-modal .modal-content {
  background-color: #212529;
}


/** Custom button **/
.custom-btn {
  background-color: #0097a1;
  border-color: #0097a1;
  border-width: 2px;
}

.custom-btn:hover {
  background-color: #017177;
  border-color: #7be9da;
  border-width: 2px;
}

.custom-btn:focus {
  background-color: #0097a1;
  border-color: #0097a1;
  border-width: 2px;
  box-shadow: 0px 0px;
}

.custom-btn:active {
  background-color: #0097a1;
  border-color: #0097a1;
  border-width: 2px;
  box-shadow: 0px 0px;
}

.custom-btn-negative {
  background-color: #5a6d6e;
  border-color: #5a6d6e;
  border-width: 2px;
}

.custom-btn-negative:hover {
  background-color: #4d7072;
  border-color: #d5f6fa;
  border-width: 2px;
}

.custom-btn-negative:active {
  background-color: #4d7072;
  border-color: #d5f6fa;
  border-width: 2px;
  box-shadow: 0px 0px;
}

.custom-btn-negative:focus {
  background-color: #4d7072;
  border-color: #d5f6fa;
  border-width: 2px;
  box-shadow: 0px 0px;
}


/** Tabs **/
.tab-headers {
  color: black;
  border: 0;
  margin-top: 0.5em;
}

.tab-headers .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item .nav-link {
  color: rgb(253, 253, 253);
  border-radius: 0;
  border: 0;
  font-size: 1.1em;
  border-bottom: 2px rgba(160, 252, 255, 0.151) solid;
}

.tab-headers .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(253, 253, 253);
  border-radius: 0;
  font-size: 1.1em;
  border-bottom: 2px #01becc solid;
  background-color: #1d1f24;
  font-weight: 700;
}

.tab-headers .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item .nav-link:hover {
  color: rgb(253, 253, 253);
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 0;
  border-bottom: 2px #57bbc2 solid;
  background-color: #1d1f24;
  text-decoration: underline;
}


/** Forms **/
.form-control {
  border: 1px #01becc solid;
  background-color: #282c34;
  color: white;
}

.form-control:focus {
  box-shadow: 0 0 0 .25rem rgba(13, 253, 233, 0.25);
  border: 1px #01cedd solid;
  background-color: #282c34;
  color: rgb(244, 255, 253);
}

.form-control:focus-visible {
  box-shadow: 0 0 0 .2rem rgba(13, 253, 233, 0.25);
  border: 1px #01cedd solid;
  background-color: #282c34;
  color: rgb(244, 255, 253);
}

.form-select {
  border: 1px #01becc solid;
  background-color: #282c34;
  color: white;
}

.form-select:focus {
  box-shadow: 0 0 0 .25rem rgba(13, 253, 233, 0.25);
  border: 1px #01cedd solid;
  background-color: #282c34;
  color: rgb(244, 255, 253);
}

.form-select:focus-visible {
  border: 1px #01cedd solid;
  background-color: #282c34;
  color: rgb(244, 255, 253);
}

.input-label {
  color: #a2a9aa;
}

.input-group-text {
  background-color: #585b5c;
  color: white;
}

.form-card {
  color: white;
  background-color: #30353f;
  border: #01cedd50 1px solid;
}


/* React date picker */
.datePicker input {
  color: white;
  background-color: #1d1f24;
  padding: 0.25em;
  padding-left: 0.5em;
  border: 1px #01becc solid;
  border-radius: 5px;
}

.datePicker input:focus {
  box-shadow: 0 0 0 .25rem rgba(13, 253, 233, 0.25);
}

.react-datepicker {
  color: white;
  background-color: #1d1f24;
  border: 1px #01becc solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: 0.9em;
}

.react-datepicker__header {
  background-color: #1d1f24;
}

.react-datepicker__current-month {
  color: white;
}

.react-datepicker__day-name {
  color: white;
}

.react-datepicker__day {
  color: white;
}

.react-datepicker__day:hover {
  background-color: #42f2ff83;
}

.react-datepicker__day--selected {
  background-color: #0097a1;
}

.react-datepicker__day--keyboard-selected {
  background-color: #0097a1;
}

.react-datepicker__day--disabled {
  color: #30353f;
}

/* Check */
.form-check-input:checked {
  background-color: #0097a1;
  border-color: #0097a1;
}

/* Toast */
.toast {
  border: 1px #01cedd46 solid;
}

.toast-header {
  color: #1d1f24;
}

.toast-body {
  background-color: #1d1f24;
  border: 1px #01cedd46 solid;
}


