.modal-budget {
    width: 40vw;
    max-width: 50vw;
}

.modal-budget-details {
    width: 70vw;
    max-width: 80vw;
}

.dark-modal-content {
    background-color: #1d1f24;
    color:white;
}
/* use styles.<class> for classes without '-' */
