.transactForm-modal-dialog {
    width: 50%;
    max-width: 70%;
    
}

.transactForm-modal-content {
    background-color: rgb(46, 46, 46);
    color: white;
}

.transactionItem {
    border: 1px rgb(46, 46, 46) solid;
    border-radius: 5px;
}


.summaryCard-dark {
    background-color: rgb(23, 27, 46);
    color: white;
}

/* use styles.<class> for classes without '-' */